form {
    margin: auto;
    width: 50%;
}
  
input, button {
    font-family: 'VT323', monospace;
    margin: 5px;
    width: 30%;
    border: 2px solid #C5D2D8;
    font-size: 18px;
}

button {
    color: #76949E;
    width: min-content;
}

button:hover {
    cursor: pointer;
    color: #F4EDDD;
    background-color: #4EA1B1;
    border-color: #4EA1B1;
    transition: .2s ease all;
    transform: scale(1.1);
}